* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header{
    margin: 47px 42px
}
.button1{
    cursor: pointer;
    width: 124px;
    height: 51px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    margin-left: 32px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    

}
.button1:hover{
    transform: translate(4px)
}

.menu-top{
text-align: center;
font-size: 14px;
font-weight: 400;
letter-spacing: 0.875px;
color: #17233d;
margin-right: 36px;
cursor: pointer;
}

main{ 
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.img-1{
    width: 533.834px;
    height: 466.9px;
    flex-shrink: 0;
}



h1{
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
    width: 582px;
    color: #161A49;
    margin-left: 96px;
    margin-top: 210px;
   }

   p {
    width: 493px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.596px;
    color: #4B505A;
    margin-left: 96px;
    margin-bottom: 56px;
    font-style: normal;
}

.button-learn{
    margin-left: 96px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;


}
  




@media screen and (max-width: 768px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        

    }
  
        .menu-top {
        display: none;
    }    



    main {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: auto;
        display: flex;
        width: 100vw;
        min-height: 100vh;
    

    }


    section {
        display: flex;
        flex-direction: column;
        justify-content: center;  /* Centraliza verticalmente */
        align-items: center;      /* Centraliza horizontalmente */
        text-align: center;
        width: 100%;
        height: 80vh;
        padding: 0 20px;
        gap: 10px;

        }
 

    p {
        text-align: center;
        letter-spacing: .5px;
        font-size: 18px;
        width: 304px;
    }

    
    
    .button-learn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 ;
        margin-top: 35px;

    }

    header{
        margin: 0;
        display: flex;
        justify-content: flex-end;
    }

    .img-1 img {
        width: 100%;
        height: auto;
        
    }
    
    .img-1 {
        width: 130%;
        
    }

    .button1 {
        visibility: hidden;
    }

    h1 {
        margin: 0;
        font-size: 46px;
    }

    p {
        margin: 0;
    }

    
}
